@using MVC_NLayerProject.UI.Models.VMs.UserVMs;

@model UserRegisterVM

<div class="container col-lg-4">
    <form asp-action="Register" method="post">
        <table class="table">
            <tbody>
                <tr>
                    <th><label asp-for="Email" class="control-label"></label></th>
                    <td><input type="text" asp-for="Email" class="form-control" /></td>
                    <td><span asp-validation-for="Email" class="text-danger"></span></td>
                </tr>
                <tr>
                    <th><label asp-for="PhoneNumber" class="control-label"></label></th>
                    <td><input type="number" asp-for="PhoneNumber" class="form-control" /></td>
                    <td><span asp-validation-for="PhoneNumber" class="text-danger"></span></td>
                </tr>
                <tr>
                    <th><label asp-for="Password" class="control-label"></label></th>
                    <td><input type="password" asp-for="Password" class="form-control" /></td>
                    <td><span asp-validation-for="Password" class="text-danger"></span></td>
                </tr>
                <tr>
                    <th><label asp-for="PasswordControl" class="control-label"></label></th>
                    <td><input type="password" asp-for="PasswordControl" class="form-control" /></td>
                    <td><span asp-validation-for="PasswordControl" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-success">Kayıt Ol</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>